.c88-p1 {
	padding-left: 2em;
}
.c88-p3 {
	padding: 0 2em;
	margin: 0 0 1em 0;
	text-align: right;
}

.c88-p16 {
	width: calc(100% - 7em);
	margin: 0.5em 2em;
	border: 1px solid;
	border-color: #999;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
	display: flex;
	justify-content: space-between;
}
.c88-span16 {
	margin-left: auto;
}
.c88-p23 {
	width: calc(100% - 6em);
	margin-right: 2em;
	margin-left: 2em;
	margin-bottom: 0;
	border: 1px solid;
	border-color: #999;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	/* letter-spacing: 0.1em; */
	word-break: break-all;
}
.c88-div12img {
	width: 100%;
}
.c88-div12 {
	margin: 1.2em 2em 0 2em;
}
.c88-p25 {
	width: 9em;
	margin: 0 1em 0.5em 2em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border: 1px solid #999;
}
.c88-div23 {
	display: flex;
	align-items: center;
}
.c88-p26 {
	margin-bottom: 2.5em;
}
.c88-div28 {
	margin: 1.5em 0 2.5em 0;
}
.c88-div36 {
	margin: 0 2em 4.5em 2em;
	border: 1px solid #999;
	border-radius: 0.5em;
	overflow: hidden;
}
.c88-div37 {
	background-color: #efefef;
	margin: 20vh 5em 0 5em;
	box-shadow: 0px 5px 5px #ccc;
	padding: 5em 0;
	text-align: center;
	border-radius: 0.5em;
}
.c88-p37 {
	text-align: center;
	margin-bottom: 2.5rem;
	letter-spacing: 0.1rem;
	font-size: 1.2em;
}
.c88-btn25 {
	background-color: #fff;
	width: 9em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border: 1px solid #999;
}
.c88-div39 {
	background-color: #404040;
	padding-bottom: 2em;
}
.c88-p38 {
	color: #fff;
	text-align: right;
	margin-right: 2em;
	padding-top: 2em;
	margin-top: 0;
}
.c88-p38 {
	color: #fff;
	text-align: right;
	margin-right: 2em;
	padding-top: 2em;
}
.c88-p39 {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3em 0;
}
.c88-span5 {
	font-size: 1.3em;
	font-weight: 900;
}
.c88-div43 {
	padding: 1em 0;
	border-bottom: 1px solid #999;
}
.c88-div46 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 2.5rem;
}
.c88-p46,
.c88-p45 {
	margin: 0;
}
.c88-p45 {
	width: 5em;
}
.c88-p46 {
	font-size: 1.2em;
}
.c88-p9 {
	margin-top: 3em;
	text-align: center;
	color: #ccc;
}
.c88-div40 {
	margin: 0 1.5em;
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1.5em 2em;
}
.c88-span6 {
	font-size: 1.3em;
}

.c88-p56 {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	text-align: center;
	padding: 1em 0;
	font-size: 1.2em;
	margin: 0;
	position: relative;
}
.c88-span8,
.c88-span7 {
	position: relative;
	width: 5em;
}
.c88-span8::after,
.c88-span7::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 0.5em;
	height: 0.5em;
	margin: auto;
	border-top: 2px solid #333;
	border-right: 2px solid #333;
	box-sizing: border-box;
}
.c88-span7::after {
	left: 1em;
	transform: rotate(-135deg);
}
.c88-span8::after {
	right: 1em;
	transform: rotate(45deg);
}
.c88-div45 {
	margin-top: 1rem;
	margin-right: 2rem;
	display: flex;
	justify-content: space-between;
}
